body {
    background-color: #333333;
}

p, h1, a, span, li {
    color: white;
}

a {
    text-decoration: none;
}

div.container {
    max-width: none;
}

h2 {
    font-size: 1.5rem;
    line-height: 1;
}

div.hero-img-container {
    width: 100%;
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
}

div.hero-img-container img {
    width: 100%;
    height: auto;
}

#navigation-bar span {
    font-weight: bold;
    font-size: 18px;
}

#navigation-bar a {
    padding-right: 35px;
}